<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/font-awesome.min.css" rel="stylesheet" />
    <link href="TrNgGrid/trNgGrid.min.css" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/Template/font-awesome/css/font-awesome.min.css" type="text/css">
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/Template/css/animate.min.css" type="text/css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/Template/css/creative.css" type="text/css">

</head>
<body id="page-top">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Car Hub</a>
            </div>


            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 style="color: red">Your Dream Car Awaits!</h1>
                <hr>
                <p></p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>
    <section class="bg-primary" id="about">
        <!--<div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Locate your favorite car!</h2>
                    <hr class="light">
                    <p class="text-faded">Select these options</p>
                    <a href="#" class="btn btn-default btn-xl">Get Started!</a>
                </div>-->
                
        <div class="container" style="color: #333" ng-app="app">
            <div class="pull-left">
                <div ng-controller="ctrl as c">
                    <!--<div class="">-->
                <div class="row">
                    <div class="col-xs-3">
                        <select ng-options="year for year in c.options.years" ng-model="c.filters.year" ng-change="c.getMakes()"></select>
                    </div>
                    <div class="col-xs-3">
                        <select ng-options="make for make in c.options.makes" ng-model="c.filters.make" ng-change="c.getModels()"></select>
                    </div>
                    <div class="col-xs-3">
                        <select ng-options="model for model in c.options.models" ng-model="c.filters.model" ng-change="c.getTrims()"></select>
                    </div>
                    <div class="col-xs-3">
                        <select ng-options="trim for trim in c.options.trims" ng-model="c.filters.trim" ng-change="c.getCars()"></select>
                    </div>
                 </div>
                    <br />
                    <div class="row">
                        
                        <div class="col-xs-3">
                            Year: {{c.filters.year}}
                        </div>
                        <div class="col-xs-3">
                            Make: {{c.filters.make}}
                        </div>
                        <div class="col-xs-3">
                            Model: {{c.filters.model}}
                        </div>
                        <div class="col-xs-3">
                            Trim: {{c.filters.trim}}
                        </div>
                    </div>
                    <br />
                                Cars: <br />
                    <div class="row">
                        <table tr-ng-grid="" on-data-required="c.getCars()" items="c.cars" page-items="c.filters.perpage" total-items="c.filters.total"
                               filter-by="c.filters.filter" current-page="c.filters.page">
                            <thead>
                                <tr>
                                    <th field-name="model_year" display-name="Year" enable-filtering="false" enable-sorting="false"></th>
                                    <th field-name="make" display-name="Make" enable-filtering="false" enable-sorting="false"></th>
                                    <th field-name="model_name" display-name="Model" enable-filtering="false" enable-sorting="false"></th>
                                    <th field-name="model_trim" display-name="Trim" enable-filtering="false" enable-sorting="false"></th>
                                    <th field-name="body_style" display-name="Body Style" enable-filtering="false" enable-sorting="false"></th>
                                    <th field-name="engine_cc" display-name="Engine CC" enable-filtering="false" enable-sorting="false"></th>
                                    <th field-name="engine_power_ps" display-name="Engine Power Ps" enable-filtering="false" enable-sorting="false"></th>
                                    <th field-name="engine_num_cyl" display-name="Engine Num Cyl" enable-filtering="false" enable-sorting="false"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <button class="btn btn-xs btn-success" ng-click="c.open(gridItem.id)">Info</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        
                            <script type="text/ng-template" id="carModal.html">
                                <div class="modal-header">
                                    <h3 class="modal-title">{{cm.car.Car.model_year}} {{cm.car.Car.make}} - {{cm.car.Car.model_name}} {{cm.car.Car.model_trim}}
                                    <button class="pull-right btn btn-default" ng-click="cm.cancel()">X</button></h3>
                                </div>
                                <div class="modal-body">
                                    <img class="img-responsive" ng-src="{{cm.car.Image }}" />
                                    
                                    
                                    <hr />
                                    
                                        <div><strong>Recalls: </strong>{{cm.car.Recalls.Count}}</div>
                                        <tabset>
                                            <tab heading="Car Details">
                                                Year: {{cm.car.Car.model_year}} <br />
                                                Make: {{cm.car.Car.make}} <br />
                                                Model: {{cm.car.Car.model_name}} <br />
                                                Trim: {{cm.car.Car.model_trim}} <br />
                                                Body Style: {{cm.car.Car.body_style}} <br />
                                                Engine CC: {{cm.car.Car.engine_cc}} <br />
                                                Engine Power: {{cm.car.Car.engine_power_ps}} <br />
                                                Cylinders: {{cm.car.Car.engine_num_cyl}} <br />
                                                
                                                
                                            </tab>
                                            <tab ng-repeat="result in cm.car.Recalls.Results " heading="{{result.Manufacturer}}">
                                                <strong>NHTSACampaignNumber: </strong>{{result.NHTSACampaignNumber}} <br />
                                                <strong>NHTSAActionNumber: </strong>{{result.NHTSAActionNumber}} <br />
                                                <strong>ReportReceivedDate: </strong>{{result.ReportReceivedDate | date : 'medium'}} <br />
                                                <strong>Component: </strong>{{result.Component}} <br />
                                                <strong>Summary: </strong>{{result.Summary}} <br />
                                                <strong>Consequence: </strong>{{result.Conequence}} <br />
                                                <strong>Remedy: </strong>{{result.Remedy}} <br />
                                                
                                            </tab>

                                        </tabset>
                                   
                                    <hr />
                                    <p></p>
                                         
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary" ng-click="cm.ok()">OK</button>
                                    <button class="btn btn-warning" ng-click="cm.cancel()">Cancel</button>
                                </div>
                            </script>

                            
                        

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- jQuery -->
    <!--<script src="js/jquery.js"></script>-->
    <!-- Bootstrap Core JavaScript -->
    <!--<script src="js/bootstrap.min.js"></script>-->
    <!-- Plugin JavaScript -->
    <script src="/Scripts/jquery-2.1.4.min.js"></script>
    <script src="/Template/js/jquery.easing.min.js"></script>
    <script src="/Template/js/jquery.fittext.js"></script>
    <script src="/Template/js/wow.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/Template/js/creative.js"></script>

    <script src="/Scripts/angular.min.js"></script>
    <script src="/Scripts/i18n/angular-locale_en-us.js"></script>
    <script src="/TrNgGrid/trNgGrid.min.js"></script>
    <script src="/Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="/App/app.js"></script>
    <script src="/App/Controller.js"></script>
    <script src="/App/service.js"></script>
    <script src="/App/carService.js"></script>




</body>
</html>
