<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/font-awesome.min.css" rel="stylesheet" />
    <link href="TrNgGrid/trNgGrid.min.css" rel="stylesheet" />
</head>
<body>
    <style>
        table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 4px;
    }
    </style>
    <div class="container" ng-app="app">
        <div ng-controller="ctrl as c">
            <div>
                <div class="row">
                    <div class="col-xs-3">
                        <select ng-options="year for year in c.options.years" ng-model="c.filters.year" ng-change="c.getMakes()"></select>
                    </div>
                    <div class="col-xs-3">
                        <select ng-options="make for make in c.options.makes" ng-model="c.filters.make" ng-change="c.getModels()"></select>
                    </div>
                    <div class="col-xs-3">
                        <select ng-options="model for model in c.options.models" ng-model="c.filters.model" ng-change="c.getTrims()"></select>
                    </div>
                    <div class="col-xs-3">
                        <select ng-options="trim for trim in c.options.trims" ng-model="c.filters.trim" ng-change="c.getCars()"></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <br />
                Year: {{c.filters.year}}<br />
                Make: {{c.filters.make}}<br />
                Model: {{c.filters.model}}<br />
                Trim: {{c.filters.trim}}<br />
                Cars: <br />
                <!--<label>All cars: </label>
                <input type="checkbox" ng-model="c.allCars" ng-change="c.checkAllCars()"/>-->
                
            </div>
            <div class="row">
                <!--<div ng-init="c.total=60506;myGlobalFilter='';myCurrentPage=2;myOrderBy='name';myOrderByReversed=true;myColumnFilter={name:' helen '}">-->

                <table tr-ng-grid="" items="c.cars" page-items="c.filters.perpage" total-items="c.filters.total"
                       filter-by="c.filters.filter" current-page="c.filters.page"
                       on-data-required="c.getCars()">

                    <!--  <table tr-ng-grid="" items="c.cars" page-items="5">-->
                    <thead>
                        <tr>

                            <th field-name="model_year" display-name="Year" enable-filtering="false" enable-sorting="false"></th>
                            <th field-name="make" display-name="Make" enable-filtering="false" enable-sorting="false"></th>
                            <th field-name="model_name" display-name="Model" enable-filtering="false" enable-sorting="false"></th>
                            <th field-name="model_trim" display-name="Trim" enable-filtering="false" enable-sorting="false"></th>
                            <th field-name="body_style" display-name="BodyStyle" enable-filtering="false" enable-sorting="false"></th>
                            <th field-name="engine_cc" display-name="EngineCC" enable-filtering="false" enable-sorting="false"></th>
                            <th field-name="engine_power_ps" display-name="EnginePowerPs" enable-filtering="false" enable-sorting="false"></th>
                            <th field-name="engine_num_cyl" display-name="EngineNumCyl" enable-filtering="false" enable-sorting="false"></th>
                        </tr>
                    </thead>
                </table>
            <!--<tbody>
                <tr ng-repeat="car in c.cars">
                    <td>car.model_year}}</td>
                    <td>car.make}}</td>
                    <td>car.model_name}}</td>
                    <td>car.model_trim}}</td>
                    <td>car.body_style}}</td>
                    <td>car.engine_cc}}</td>
                    <td>car.engine_power_ps}}</td>
                    <td>car.engine_num_cyl}}</td>
                </tr>
                    </table>
            </tbody>-->
                </div>
        </div>
    </div>
    <script src="/Scripts/angular.min.js"></script>
    <script src="/TrNgGrid/trNgGrid.min.js"></script>
    <script src="/App/app.js"></script>
    <script src="/App/Controller.js"></script>
    <script src="/App/service.js"></script>
    <script src="/App/carService.js"></script>
</body>
</html>
